{% extends 'core/plantilla_2.html' %}
{% load static %}
{% block contenido %}
<div class="container">
    <div id="tabla">
        <h1>Listado de Productos</h1>
        &nbsp;|&nbsp;
        <a href="{% url 'crearProducto' %}">Añadir Producto</a>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        {% for i in Productos %}
        <tr>
            <td>#{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.marca}}</td>
            <td>{{i.categoria}}</td>
            <td>{{i.stock}}</td>
            <td>${{i.precio}}</td>
            <td><a href="{% url 'modificarProducto' i.id %}">modificar</a></td>
            <td><a href="{% url 'elimirnarProducto' i.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div id="tabla">
        <h1>Listado de Ofertas</h1>
        &nbsp;|&nbsp;
        <a href="{% url 'crearOferta' %}">Añadir Oferta</a>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Codigo</th>
            <th>Producto</th>
            <th>Descuento</th>
            <th>Modificar</th>
            <th>Eliminar</th>

        </tr>
        {% for i in Ofertas %}
        <tr>
            <td>#{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descuento}}%</td>
            <td><a href="{% url 'modificarOferta' i.id %}">modificar</a></td>
            <td><a href="{% url 'elimirnarOferta' i.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
</div>
{% endblock %}